Italia.Voucher18App/Connected Services/VerificaVoucher/VerificaVoucher.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bonus.mibact.it/VerificaVoucher/" name="VerificaVoucher" targetNamespace="http://bonus.mibact.it/VerificaVoucher/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://bonus.mibact.it/VerificaVoucher/">
      <xsd:complexType name="Check">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="tipoOperazione" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="codiceVoucher" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="partitaIvaEsercente" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CheckResponse">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="nominativoBeneficiario" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="partitaIvaEsercente" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ambito" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="bene" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="importo" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Confirm">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="tipoOperazione" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="codiceVoucher" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="importo" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConfirmResponse">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="esito" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CheckRequestObj">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="checkReq" type="tns:Check" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CheckResponseObj">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="checkResp" type="tns:CheckResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConfirmRequestObj">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="checkReq" type="tns:Confirm" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConfirmResponseObj">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="checkResp" type="tns:ConfirmResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CheckRequest">
    <wsdl:part name="parameters" element="tns:CheckRequestObj" />
  </wsdl:message>
  <wsdl:message name="CheckResponse">
    <wsdl:part name="parameters" element="tns:CheckResponseObj" />
  </wsdl:message>
  <wsdl:message name="ConfirmRequest">
    <wsdl:part name="parameters" element="tns:ConfirmRequestObj" />
  </wsdl:message>
  <wsdl:message name="ConfirmResponse">
    <wsdl:part name="parameters" element="tns:ConfirmResponseObj" />
  </wsdl:message>
  <wsdl:portType name="VerificaVoucher">
    <wsdl:operation name="Check">
      <wsdl:input message="tns:CheckRequest" />
      <wsdl:output message="tns:CheckResponse" />
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <wsdl:input message="tns:ConfirmRequest" />
      <wsdl:output message="tns:ConfirmResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VerificaVoucherSOAP" type="tns:VerificaVoucher">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Check">
      <soap:operation soapAction="http://bonus.mibact.it/VerificaVoucher/Check" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <soap:operation soapAction="http://bonus.mibact.it/VerificaVoucher/Confirm" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VerificaVoucher">
    <wsdl:port name="VerificaVoucherSOAP" binding="tns:VerificaVoucherSOAP">
      <soap:address location="https://wstest.18app.italia.it/VerificaVoucherWEB/VerificaVoucher" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>